# Virtual Environment
venv/
.env

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Runtime Storage & Reports
storage/uploads/*
!storage/uploads/.gitkeep
reports/figures/*
!reports/figures/.gitkeep

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db